repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.1
    hooks:
      - id: ruff
        name: "ruff lint"
        args: ["--fix"]
      - id: ruff
        name: "ruff import sorting"
        args: ["check", "--select", "I", "--fix"]
      - id: ruff-format
        name: "ruff format"